
# QUAD_CONTROL #
quadcontrol/Drivers/
quadcontrol/EWARM/
quadcontrol/Middlewares/
quadcontrol/.mxproject
mainWorkspace/Debug/
mainWorkspace/TemplateProject.dep
mainWorkspace/settings/

# INC Files
quadcontrol/Inc/gpio.h
quadcontrol/Inc/i2c.h
quadcontrol/Inc/spi.h
quadcontrol/Inc/stm32f4xx_hal_conf.h
quadcontrol/Inc/stm32f4xx_it.h
quadcontrol/Inc/tim.h
quadcontrol/Inc/usart.h
quadcontrol/Inc/usb_device.h
quadcontrol/Inc/usbd_cdc_if.h
quadcontrol/Inc/usbd_conf.h
quadcontrol/Inc/usbd_desc.h

# SRC Files
quadcontrol/Src/gpio.c
quadcontrol/Src/i2c.c
quadcontrol/Src/spi.c
quadcontrol/Src/stm32f4xx_hal_msp.c
quadcontrol/Src/system_stm32f4xx.c
quadcontrol/Src/tim.c
quadcontrol/Src/usart.c
quadcontrol/Src/usb_device.c
quadcontrol/Src/usbd_cdc_if.c
quadcontrol/Src/usbd_conf.c
quadcontrol/Src/usbd_desc.c

# STM_External_Controller #
RxTx_ExternalController/
RxTx_ExternalController/STM_ExternalController/EWARM
RxTx_ExternalController/STM_ExternalController/Middlewares
RxTx_ExternalController/STM_ExternalController/.mxproject

# mainWorkspace #
mainWorkspace/mainWorkspace.eww


# Emacs backup files
*~

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


